* {
  margin: 0;
}
body {
  background-color: hsl(226, 43%, 10%);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
}
.container {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(2, 250px);
}
#item1 {
  grid-row: span 2;
  border-radius: 10px;
  background-color: hsl(235, 46%, 20%);
}
#item1 img {
  width: 50px;
  height: 50px;
  border: 2px solid white;
  border-radius: 50%;
  margin-bottom: 30px;
}
.divupofitem1 {
  background-color: hsl(246, 80%, 60%);
  border-radius: 10px;
  height: 315px;
  padding: 30px;
}
#item2 {
  border-radius: 10px;
  background-color: hsl(15, 100%, 70%);
}
.divdownofitem1 {
  border-radius: 10px;
  height: 100%;
  background-color: hsl(235, 46%, 20%);
  padding: 25px;
  overflow: hidden;
}

.divdownofitem1 p {
  cursor: pointer;
}

.divdownofitem1 p:hover {
  color: white;
  transition: all ease-in-out 0.3s;
}
#item3 {
  border-radius: 10px;
  background-color: hsl(195, 74%, 62%);
}
#item4 {
  border-radius: 10px;
  background-color: hsl(348, 100%, 68%);
}
#item5 {
  border-radius: 10px;
  background-color: hsl(145, 58%, 55%);
}
#item6 {
  border-radius: 10px;
  background-color: hsl(264, 64%, 52%);
}
#item7 {
  border-radius: 10px;
  background-color: hsl(43, 84%, 65%);
}
.item {
  overflow: hidden;
}
.divupofitem {
  overflow: hidden;
  height: 20%;
  display: flex;
  justify-content: end;
}
.titleup {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.titleup p {
  font-size: 18px;
  font-weight: bolder;
}
.nhours {
  font-size: 40px;
  margin-bottom: 30px;
}
.event {
  color: hsl(236, 100%, 87%);
}
